.address-book {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .address-item {
    padding: 15px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      margin: 0;
    }

    .button {
      margin-top: 4px;
    }

    .default-address {
      align-self: flex-start;
    }
  }

  .default-address {
    background: #0073aa;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
  }
}

.woocommerce-addresses {
  .button.add-new-address {
    margin-bottom: 20px;
  }
}

.address-form {
  display: none;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Autocomplete Styles */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-autocomplete>li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ui-autocomplete>li>div {
  display: block;
  padding: 8px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  cursor: pointer;
}

.ui-autocomplete>li>div:hover,
.ui-autocomplete>li>div:focus,
.ui-autocomplete>li>div.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  border: none;
}

.ui-helper-hidden-accessible {
  display: none;
}